.todo-item {
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  max-width: 20%;
  justify-content: space-between;
}

.strike {
  text-decoration: line-through;
  color: #ccc;
}

.completed-check-box {
  box-sizing: border-box;
  display: flex;
}
